---
import CTA from '~/components/widgets/services.astro';
---

<CTA

	isReversed

	title="Liên lạc trao đổi"

	callToAction={{
		text: 'Nhắn tin',
		href: 'https://www.instagram.com/nhavantuonglai',
	}}

	items={[
		{
			title: 'Thân mật',
			description: 'Phù hợp khi muốn chia sẻ nhanh, trao đổi ngắn và hiểu thêm về tác giả, đây là kênh liên lạc thoải mái, gần gũi.',
		},
		{
			title: 'Thú vị',
			description: 'Chia sẻ đời thường, suy nghĩ qua dòng văn gọn gàng dễ đọc, không chỉ giao tiếp mà là cầu nối tâm hồn đồng điệu.',
		},
	]}

	image={{
		src: 'https://images.pexels.com/photos/32788801/pexels-photo-32788801.jpeg',
		alt: 'Văn hay trong hiện tại, chữ tốt ở tương lai.',
		title: 'Văn hay trong hiện tại, chữ tốt ở tương lai.'
	}}

>

	<Fragment slot="content">

		<div>
			<h3>Nhắn tin trực tiếp</h3>
			<p>Tài khoản chính thức, công khai và nhận tin nhắn từ mọi người, sẵn sàng chia sẻ và trao đổi trên tinh thần thiện chí, học hỏi.</p>
		</div>

	</Fragment>

</CTA>

<CTA

	callToAction={{
		text: 'Gửi thư',
		href: 'mailto:info@nhavantuonglai.com',
	}}

	items={[
		{
			title: 'Chuyên nghiệp',
			description: 'Phù hợp khi cần trao đổi chuyên sâu, chia sẻ nghiêm túc trang trọng, trao đổi chỉn chu để nhận chia sẻ phù hợp.',
		},
		{
			title: 'Tin cậy',
			description: 'Hợp tác làm việc, chia sẻ tài liệu và kiến thức chuyên môn, thảo luận để tạo thành động lực học rộng hiểu sâu.',
		},
	]}

	image={{
		src: 'https://images.pexels.com/photos/32788797/pexels-photo-32788797.jpeg',
		alt: 'Văn hay trong hiện tại, chữ tốt ở tương lai.',
		title: 'Văn hay trong hiện tại, chữ tốt ở tương lai.'
	}}

>

	<Fragment slot="content">

		<div>
			<h3>Gửi thư trực tuyến</h3>
			<p>Email cá nhân, thoải mái nhận thư và phản hồi nhanh nhất có thể, mở lòng trao đổi và chia sẻ với tinh thần cởi mở, chuyên sâu.</p>
		</div>

	</Fragment>

</CTA>